@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Iceberg');

@media only screen and (max-width: 600px) {

	.navbar-default[role="navigation"] {
		margin: 0 !important;
		margin-bottom: 10% !important;
		z-index: 999;
		width: 100% !important;
		background: #171c2f;
		border-radius: 0px !important;
		color: white;
		
	}

	.navbar-default[role="inpage"] {
		
		margin-left:-12% !important;
	}
	.navbar-default[role="inpage"] li {
		display: block !important;
		
	}

	.navbar[role="inpage"] li a {
		font-size: 14px !important;
	}
	
	.navbar[role="inpage"] li button {
		padding:4px 8px;
    	font-size:80%;
    	line-height: 1;
	}

	.navbar[role="inpage"] li a:hover {
		color: #3585c1;
	}
	

	.my-carousel {
		margin-top: 0px !important;
	}

	.author {
		width: 0% !important;
		margin: 0 auto !important;
	}
	
	.author ul li {
		list-style-type: none;
	}
	
	.author .author-name a {
		color: #ff7474;
		font-family: Roboto, sans-serif;
		font-weight: bold;
		font-size: 18px;
	}

	
	.author-name {
		position: absolute;
		margin-left: 32% !important;
		
	}

	.author-name a {
		font-size: 10px !important;
	}
	
	.author .author-name a:hover {
		color: #ff7474;
		text-decoration: none;
	}
	
	.author-avatar {
		border-radius: 50%;
		border-style: hidden;
		margin-left: 45% !important;
		margin-top: -0.2% !important;
		left: 30%;
		width: 24px !important; 
		height: 24px !important;
		position: absolute;
	}
	
	#author-title{
		position: absolute;
		font-size: 12px !important;
		margin-left: -10% !important;
	}

	.author-avatar {
		margin-bottom: 30% !important;
	}
	.article-title {
		font-size: 16px !important;
		font-weight: bold;
		margin-left: 10%;
	}

	.topics .author-separator {
		border: 1.5px solid rgba(0, 0, 0, 0.63);
		height: 100px;
		margin: 0 !important;
	}
	
	.topics {
		margin: 0 !important;
	}

	#titre-carousel {
		position: absolute;
		z-index: 20;
		font-family: Imprima, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-size: 20px !important;
		mix-blend-mode: normal;
		text-shadow: 1px 8px 8px rgba(0, 0, 0, 0.38), 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	#content-carousel {
		left: 0% !important;
		bottom: 35% !important;
		font-size: 16px !important;
		width: 100% !important;
	}

	#join-carousel {
		position: absolute;
		left: 40% !important;
		bottom: 20% !important;
		font-size: 20px;
	}
	
	#contact-us {
		margin-left: 15% !important;
	}

  }

label {
	position: relative;
}

.search label:before {
	content: "";
	position: absolute;
	right: 60px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
		center / contain no-repeat;
}

.my-carousel {
	margin-top: -80px;
}

.header {
	text-align: center;
	margin: 0 auto;
	height: auto;
	width: auto;
	position: relative;
	z-index: 2;
}

.icons {
	color: #ff7474;
}
.navbar-default[role="navigation"] {
	margin: 0 auto;
	z-index: 999;
	width: 80%;
	background: #171c2f;
	border-radius: 10px;
	color: white;
}
.navitem[role="navigation"] {
	margin-right: 5px;
}
.navbar[role="navigation"] li a {
	color: white;
	font-weight: bold;
}

.navbar-default[role="inpage"] {
	margin-left: 50px;
	margin-bottom: 0px;
}
.navitem[role="inpage"] {
	background: rgba(10, 49, 76, 0.8);
}

.navbar[role="inpage"] {
	margin-bottom: 0px;
}
.navbar[role="inpage"] li a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: white;
}

.navbar[role="inpage"] li a:hover {
	color: #3585c1;
}

.author {
	width: 30%;
}

.author ul li {
	list-style-type: none;
}

.author .author-name a {
	color: #ff7474;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.author .author-name a:hover {
	color: #ff7474;
	text-decoration: none;
}

.author .author-avatar {
	border-radius: 50%;
	border-style: hidden;
	margin-left: 20px;
	width: 100px;
	height: 100px;
	margin-top: 10px;
}

.topics .author-separator {
	border: 1.5px solid rgba(0, 0, 0, 0.63);
	height: 100px;
	margin: 50px 50px;
}

.topics {
	border-right: #0a314c;
	border-top: #0a314c;
	border-radius: 8px;
	border-style: solid;
	border-left: 0px;
	border-bottom: 0px;
	width: 100%;
	margin-left: 50px;
	margin-top: 0px;
}

.media {
	box-shadow: 0px 4px 5px #111111;
}
.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
	
}

.article-metadata {
	color: white;
}
.article-title {
	color: #ff7474;
	margin: auto;
}

a.article-title:hover {
	color: #ff7474;
	text-decoration: none;
	font-weight: bold;
}

.article-content {
	white-space: pre-line;
	color: white;
}

.statics-post {
	color: white;
	font-weight: bold;
}

.topic-placement {
	margin-top: 7%;
}

.content {
	position: relative;
	width: 100%;
	height: auto;
}

.content .sidebar {
	float: right;
	height: auto;
}

.content .sidebar .title {
	font-weight: bold;
	color: white;
}

.pages  {
	position: absolute;
	margin-left: 18%;
	margin-top: 5%;
}

.pages .navbar-default[role="doc-pagelist"] .nav-link {
	background: #dc3545 !important;
}

.footer-bg {
	position: relative;
	border-style: hidden;
	width: 100%;
	display: inline-block;
}

.footer-copy {
	position: absolute;
	border-style: hidden;
	font-family: Roboto;
	width: 100%;
	color: white;
	bottom: -19%;
}

.footer-bg h3 {
	margin-top: 10%;
	font-family: Rosario;
	font-weight: bold;
	border-bottom-color: white;
	border-bottom-style: solid;
}

.notifications {
	position: relative;
	display: inline-block;
}

.notifications-circle {
	position: absolute;
	border-radius: 50%;
	border-color: white;
	color: black;
	font-weight: bold;
	text-align: center;
	background: white;
	width: 18px;
	height: 18px;
	right: 0%;
	bottom: 60%;
	z-index: 3;
}

.user {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.user:hover {
	text-decoration: none;
}

#about-us {
	position: relative;
	color: white;
	float: left;
	margin-left: 50px;
}

#contact-us {
	position: relative;
	color: white;
	float: left;
	margin-left: 100px;
	margin-bottom: auto;
}

#contact-form {
	position: relative;
	color: white;
	float: left;
	margin-left: 50px;
}

#google-map {
	position: relative;
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}
#titre-carousel {
	position: absolute;
	left: 32%;
	bottom: 60%;
	z-index: 20;
	font-family: Imprima, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 61px;
	color: rgba(10, 49, 76, 0.85);
	mix-blend-mode: normal;
	text-shadow: 1px 8px 8px rgba(0, 0, 0, 0.38), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#content-carousel {
	position: absolute;
	left: 23%;
	bottom: 45%;
	z-index: 20;
	font-family: Iceberg, sans-serif;
	font-size: 35px;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	width: 700px;
}

#join-carousel {
	position: absolute;
	left: 46%;
	bottom: 37%;
	z-index: 20;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: white;
	background: #e13535;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	box-shadow: 4px 1px 1px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#login-carousel {
	position: absolute;
	left: 73%;
	bottom: 10%;
	z-index: 20;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: white;
	position: absolute;
	width: 300px;
	height: 270px;
	background: #171c2f;
	border: 0.5px solid #ffffff;
	box-sizing: border-box;
	border-style: hidden;
}

#login-carousel input {
	width: 280px;
	margin: 0 auto;
}

#login-carousel button {
	background: #e13535;
	box-shadow: 4px 1px 1px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	font-family: Iceberg, sans-serif;
}

#login-carousel a {
	color: white;
	text-decoration: none;
}

#login-carousel a:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#login-span-carousel {
	position: absolute;
	left: 3%;
	bottom: 84%;
	z-index: 20;
	width: 280px;
	height: 35px;
	opacity: 0.8;
	font-family: Iceberg, sans-serif;
	font-size: 24px;
}

#right-search {
	right: -390px;
	position: absolute;
}

#right-search input {
	width: 80%;
}

#active {
	color: white;
	background: rgba(10, 49, 76, 0.8);
}

#profile {
	position: relative;
}

#profile:before {
	content: "";
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
}

#profile-avatar {
	border-radius: 50%;
	border-style: none;
	width: 50px;
	height: 50px;
}

.field {
	--uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
	background-color: transparent;
	border-radius: 0;
	border: none;
	color: white;
	-webkit-appearance: none;
	-moz-appearance: none;

	font-family: inherit;
	font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
	color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
	color: var(--uiFieldPlaceholderColor);
	opacity: 1;
}

/*
  =====
  LEVEL 2. CORE STYLES
  =====
  */

.a-field {
	display: inline-block;
}

.a-field__input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.a-field__input:focus {
	outline: none;
}

/*
  =====
  LEVEL 3. PRESENTATION STYLES
  =====
  */

/* a-field */

.a-field {
	--uiFieldHeight: var(--fieldHeight, 40px);
	--uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
	--uiFieldBorderColor: var(--fieldBorderColor);

	--uiFieldFontSize: var(--fieldFontSize, 1em);
	--uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

	--uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
	--uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
	--uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

	position: relative;
	box-sizing: border-box;
	font-size: var(--uiFieldFontSize);
	padding-top: 1em;
}

.a-field .a-field__input {
	height: var(--uiFieldHeight);
	padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
	border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .a-field__input::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder {
	opacity: 0;
	transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
	opacity: 0;
	bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder {
	opacity: 1;
	transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder {
	opacity: 1;
	transition-delay: .2s;
}

.a-field .a-field__label-wrap {
	box-sizing: border-box;
	width: 100%;
	height: var(--uiFieldHeight);

	pointer-events: none;
	cursor: text;

	position: absolute;
	bottom: 0;
	left: 0;
}

.a-field .a-field__label {
	position: absolute;
	left: var(--uiFieldPaddingLeft);
	bottom: calc(50% - .5em);

	line-height: 1;
	font-size: var(--uiFieldHintFontSize);

	pointer-events: none;
	transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
	will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
	opacity: 1;
	bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input {
	transition: border-color .2s ease-out;
	will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
	border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap:after {
	content: "";
	box-sizing: border-box;
	width: 0;
	height: var(--uiFieldBorderWidth);
	background-color: var(--fieldBorderColorActive);

	position: absolute;
	bottom: 0;
	left: 0;

	will-change: width;
	transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after {
	width: 100%;
}

/* a-field_a3 */

.a-field_a3 {
	padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after {
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 0;

	opacity: 0;
	border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

	position: absolute;
	bottom: 0;
	left: 0;

	will-change: opacity, height;
	transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after {
	height: 100%;
	opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
	bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
  =====
  LEVEL 4. SETTINGS
  =====
  */

.field {
	--fieldBorderColor: #d1c4e9;
	--fieldBorderColorActive: #ff7474;
}

.modal-content {
	background: #171c2f !important;
	font-family: 'Ubuntu', sans-serif;
}

.gj-icon {
	color: #ff7474 !important;
}

.fr-wrapper  , .fr.view, 
.fr-toolbar, .fr-special-characters-modal , 
.fr-modal-body, div.fr-dropdown-content , 
.fr-counter, .fr-toolbar, 
.fr-separator, .fr-vs , .fr-help-modal {
	background: rgba(23, 28, 47, 0.84) !important;
	color: white !important;
	border-style: none !important;
}

.fr-wrapper p {
	color: white;
}

.fr-toolbar .fa {
	color: #ff7474 !important;
}



/* notification style */
#notification_li{position:relative}
        #notificationContainer {
        background-color:#292e41;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        margin-top: 10px;
        width: 400px;
        z-index: 99;
		display: none;
		top: 30px;
		left: 1.2vw;
        }
        #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent white;
        margin-top: -20px;
        }
        #notificationTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
        background-color: #292e41;
        width: 384px;
        border-bottom: 1px solid #ff7474;
        }
        #notificationsBody {
        padding: 5px 5px 5px 5px !important;
		min-height:300px;
		max-height: 300px;
		}
		.avatar-notif{
			height: 35px;
			width: 35px;			
			border-radius: 50%;
			border: 2px solid #fff;
			z-index: 9;
			max-width: 100%;
			float: left;
			margin: 0;

		}
		.element-notif {
			margin-bottom: 5px;
			padding:5px 0px 0px 0px;
		}

        #notificationFooter {
        background-color: #292e41;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        font-size: 12px;
        border-top: 1px solid #ff7474;
        }
#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 9px;
  position: relative;
  font-size: 11px;
}

#author-title{
	position: absolute;
	margin-left: 2%;
	font-size: 16px;
}

.line{
	width:100%;
	height: 2px;
	background-color: #ff7474;
}

.modal-body {
	color: white;
}

.modal {
	box-shadow: 0px 4px 5px #111111;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #ff7474;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /*border: 2px dotted blue;*/
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.permissions {
	margin-left: 60%;
}

.cursor {
	cursor: pointer;
}

a {
	color: white;
}

.page-link {
	background-color: #171c2f !important;
	color: white !important;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #ff7474 !important;
	border-color: white !important;
  }

a:hover {
	color: #ff7474 !important;
	text-decoration: none !important;
}
@media (max-width: 600px) {
  
	#notificationContainer{
		left: 0.5vw;
		width: 250px;
	}
	#notificationTitle{
		width: 250px;
	}
		
	  }
.element-notif b,i{
	float: left;
	color:white;
}
.element-notif a{
	color:white;
}