{% extends "./dashboardBse.html" %}
{% block content %}
<div class="row ml-4">
                    <div class="col-4">
                            <div id="members">
                                <small class="float-left mt-1 ml-1">Members</small>
                                <div class="text-dash">
                                    {{ nbr_user }} <span class="fa fa-user"></span>
                                </div>
                            </div>
                    </div>
                    <div class="col-4">
                            <div id="total-topics">
                                <small class="float-left mt-1 ml-1">Topics</small>
                                <div class="text-dash">
                                    {{nbr_topic}} <span class="fa fa-comments"></span>
                                </div>
                            </div>
                    </div>
                    <div class="col-4">
                        <div id="online">
                            <small class="float-left mt-1 ml-1">Online</small>
                            <div class="text-dash">
                                    {{nbr_online}} <span class="fa fa-globe-africa"></span>
                            </div>
                        </div>
                    </div>
    </div>
                
    <div class="row ml-2">
                    <div class="col-4">
                        <div class="admin-notif  text-center">
                            <span class="fa fa-exclamation-circle icons admin-notif-spn"></span>
                            You have 2 messages and 3 reports.
                        </div>
                    </div>
    </div>

    <div class="row ml-4 mt-4">
                    <div class="col-md-8 col-center">
                        <div class="box">
                            <p>Popular topics</p>
                            <span class="table-caption">
                                most viewed posts </span>
                        </div>
                        <div class="tab">
                            <table>
                                <tr>
                                    <th>Title</th>
                                    <th><span class="fa fa-comments icons"></th>
                                    <th><span class="fa fa-eye icons"></th>
                                </tr>
                                {% for post in pubs_populaie %}
                                <tr class="cursor" onclick="window.location.replace('#')">
                                    <td>{{post}}</td>
                                    <td>{{post.commentaires.all.count}}</td>
                                    <td>{{post.nb_vues}}</td>
                                </tr>
                                {% endfor %}
                                
                              
                            </table>
                        </div>
                    </div>
        </div>
{% endblock content %}
