{% extends "./dashboardBse.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
                <div class="row ml-4 mt-4">
                    <div class="col-md-8">
                            <div class="box mt-4">
                                    <p>Edit Profile</p>
                                    <span class="table-caption">
                                        edit information </span>
                                </div>
                        
                                <div class="tab text-center">
                                    <br>
                                    <label class="field a-field a-field_a1 page__field  mr-4">
                                        {% render_field form.username class="field__input a-field__input" type="text" placeholder='name'  id='adminname'value="" %}
                                        
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">{{admin.user.username}}</span>
                                        </span>
                                    </label>

                                    <label class="field a-field a-field_a1 page__field ">
                                        {% render_field form.email class="field__input a-field__input" type="text" placeholder="email" value="" %}
                                        
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">{{admin.user.email}}</span>
                                        </span>
                                    </label>
                                        <br>
                                    <label class="field a-field a-field_a1 page__field mr-4">
                                        {% render_field form.firstname class="field__input a-field__input" type="text" placeholder="Firs Name" value="" %}
                                        
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">{{admin.user.firstnsame}}</span>
                                        </span>
                                    </label>
                                    
                                    <label class="field a-field a-field_a1 page__field">
                                            {% render_field form.lastname class="field__input a-field__input" type="text" placeholder="Last Name" value="" %}

                                            <span class="a-field__label-wrap">
                                            <span class="a-field__label">{{admin.user.lastname}}</span>
                                            </span>
                                    </label>
                                    <br>
                                    <hr>
                                    {% ifequal  admin.user.role 'admin'  %}
                                        <button class="btn btn-danger float-right">Update Profile</button> 
                                    {% endifequal %}
                                    
                                    <br>
                                    
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="usr-pic">
                            <img src="{% static 'images/avatars/1.jpg' %} ">
                        </div>
                        <div class="tab text-center">
                            <br> <br>
                            <strong class="text-danger mt-4">{{admin.user.role}}</strong><br>
                            <h4 class="mt-1">{{admin.user.username}}</h4>
                            {% if  admin.bio %}
                            <p>
                                    {{admin.bio}} 
                            </p>
                           
                            {% endif %}
                            
                            <a href="#" role="button" class="btn btn-danger">Profile</a>
                        </div>
                    </div>
                </div>

                <script>
                 

                </script>
                
{% endblock content %}
           