{% extends "./dashboardBse.html" %}
{% load static %}
{% block content %}
                <div class="row ml-4 mt-4">
                    <div class="col-md-8">
                            <div class="box mt-4">
                                    <p>Edit Profile</p>
                                    <span class="table-caption">
                                        edit information </span>
                                </div>
                        
                                <div class="tab text-center">
                                    <br>
                                    <label class="field a-field a-field_a1 page__field  mr-4">
                                        <input class="field__input a-field__input" type="text" placeholder="bondbenz" value="" required>
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">Username</span>
                                        </span>
                                    </label>

                                    <label class="field a-field a-field_a1 page__field ">
                                        <input class="field__input a-field__input" type="text" placeholder="n.benzeghli@esi-sba.dz" value="" required>
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">Email</span>
                                        </span>
                                    </label>
                                        <br>
                                    <label class="field a-field a-field_a1 page__field mr-4">
                                        <input class="field__input a-field__input" type="text" placeholder="Nor El Islam" value="" required>
                                        <span class="a-field__label-wrap">
                                        <span class="a-field__label">First name</span>
                                        </span>
                                    </label>
                                    
                                    <label class="field a-field a-field_a1 page__field">
                                            <input class="field__input a-field__input" type="text" placeholder="Benzeghli" value="" required>
                                            <span class="a-field__label-wrap">
                                            <span class="a-field__label">Last Name</span>
                                            </span>
                                    </label>
                                    <br>
                                    <select class="selectpicker mr-4">
                                            <option selected value="1">Student</option>
                                            <option value="2">Professor</option>
                                            <option value="3">Administrator</option>
                                            <option value="4">Moderator</option>
                                    </select>   
                                    <label class="field a-field a-field_a1 page__field" style="margin-right:-10%;">
                                            <input class="field__input a-field__input" type="text" placeholder="1cs" value="" required>
                                            <span class="a-field__label-wrap">
                                            <span class="a-field__label">Promo / Module</span>
                                            </span>
                                    </label>
                                    <hr>
                                    <button class="btn btn-danger float-right">Update Profile</button>
                                    <br>
                                    
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="usr-pic">
                            <img src="{% static 'images/avatars/1.jpg' %} ">
                        </div>
                        <div class="tab text-center">
                            <br> <br>
                            <strong class="text-danger mt-4">Administrator</strong><br>
                            <h4 class="mt-1">{{admin.user.username}}</h4>
                            <p>
                                    {{admin.bio}} 
                            </p>
                            <a href="#" role="button" class="btn btn-danger">Profile</a>
                        </div>
                    </div>
                </div>
                
{% endblock content %}
           