

{% extends './HomeBase.html' %}
{% load static %}

{% block content  %}

<div class="container">
        <nav class="navbar navbar-default" role="inpage">
            <div class="navbar">
                <ul class="nav nav-pills text-center">
                    <li class="nav-item">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#newTopic"  >
                          <span class="fa fa-plus-square icons"></span> New Topic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fa fa-newspaper icons"></span> Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fa fa-question-circle icons"></span> Questions</a>
                   </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fa fa-flag icons"></span> Surveys</a>
                    </li>
                </ul>
            </div>
            
    </nav>
    <div class="modal fade" id="newTopic" tabindex="-1" role="dialog" aria-labelledby="newTopicLabel" aria-hidden="true">
      <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content text-danger">
          <div class="">
            <label class="field a-field a-field_a1 page__field modal-title ml-4 mt-2" id="newTopicLabel">
                <input class="field__input a-field__input" placeholder="TP5 Solution" required>
                <span class="a-field__label-wrap">
                  <span class="a-field__label">Title</span>
                </span>
              </label>
            <button type="button" class="close text-danger mt-2 mr-2" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <textarea id="editor"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Post Topic</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      
      <div class="row">
        <div class="col-8 float-left">
        <div class="topics">
            <div class="btn-group float-right mt-4 mr-4" role="group" aria-label="trier">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src=" {% static 'images/icons/baseline_settings_white_18dp.png' %}" class="mb-1" width="24px" height="24px" alt=""> filter
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">most views</a>
                    <a class="dropdown-item" href="#">most replies</a>
                  </div>
                </div>
              </div>
              <br>
            <div class="topic-placement">
                <article class="media content-section mt-4 mr-4" style="background-color: #1a2035; border-style: hidden;">
                    <div class="author float-left">
                      <ul class="mr-4 mt-4">
                        <li class="author-name">
                          <a href="#">@i.benzeghli</a>
                        </li>
                        <li>
                          <img src="{% static 'images/avatars/1.jpg' %}" class="author-avatar" alt="">
                        </li>
                      </ul>
                    </div>
                    <span class="author-separator"></span>
                    <div class="media-body">
                      <div class="article-metadata">
                          <small class="float-right mt-4">01 mars 2019</small>
                          <h2><a class="article-title mt-4" href="#">Title of topic</a></h2>
                      </div>
                      <hr>
                      <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat...</p>
                      <span class="statics-post"><span class="fa fa-eye icons"></span> 50    <span class="fa fa-comment icons"></span> 10</span>
                      <button class="btn btn-outline-danger float-right">Read more</a>
                    </div>
                </article>
                
            </div>
          </div>
          </div>
          
    </div>
  </div>
  </div>
  <div>


   <div class="pages text-center">
          <nav class="navbar navbar-default"  role="doc-pagelist">
              <div class="navbar">
                  <ul class="nav nav-pills text-center">
                      <li class="nav-item mr-2">
                          <a class="nav-link active "href="#" > 1</a>
                      </li>
                      <li class="nav-item mr-2">
                          <a class="nav-link" id="active" href="#" > 2</a>
                         </li>
                      <li class="nav-item mr-2">
                          <a class="nav-link " id="active" href="#" > 3</a>
                        </li>
                      <li class="nav-item mr-2 mt-2">
                        <strong>...</strong>
                      </li>
                      <li class="nav-item mr-2">
                          <a class="nav-link " id="active" href="#" > 99</a>
                      </li>
                  </ul>
              </div>
      </div>


    {% endblock  %}
