{% extends './Home.html' %}


{% load static %}

{% block postslist %}

<div class="content">
      
      <div class="row">
        <div class="col-8 float-left">
        <div class="topics">
            <div class="btn-group float-right mt-4 mr-4" role="group" aria-label="trier">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src=" {% static 'images/icons/baseline_settings_white_18dp.png' %}" class="mb-1" width="24px" height="24px" alt=""> filter
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">most views</a>
                    <a class="dropdown-item" href="#">most replies</a>
                  </div>
                </div>
              </div>
              <br>
            <div class="topic-placement">
                <article class="media content-section mt-4 mr-4" style="background-color: #1a2035; border-style: hidden;">
                    <div class="author float-left">
                      <ul class="mr-4 mt-4">
                        <li class="author-name">
                          <a href="#">@i.benzeghli</a>
                        </li>
                        <li>
                          <img src=" {% static 'images/avatars/1.jpg' %} " class="author-avatar" alt="">
                        </li>
                      </ul>
                    </div>
                    <span class="author-separator"></span>
                    <div class="media-body">
                      <div class="article-metadata">
                          <small class="float-right mt-4">01 mars 2019</small>
                          <h2><a class="article-title mt-4" href="#">Title of topic</a></h2>
                      </div>
                      <hr>
                      <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat...</p>
                      <span class="statics-post"><span class="fa fa-eye icons"></span> 50    <span class="fa fa-comment icons"></span> 10</span>
                      <button class="btn btn-outline-danger float-right">Read more</a>
                    </div>
                </article>
                
            </div>
          </div>
          </div>
          <div class="col-4">
          <div class="sidebar mr-2">
              
          </div>
    </div>

    {% endblock %}