<div class="card" style="width: 18rem; border-style:hidden;">
                <div class="bg-info text-center">
                  <span class="title"><img src=" {% static 'images/icons/baseline_assignment_white_18dp.png' %} "> Most Popular</span>
                </div>
                  <div class="card-body" style="background-color: #1a2035; color: white;">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                <div class="card mt-2" style="width: 18rem; border-style:hidden;">
                    <div class="bg-info text-center">
                      <span class="title"><img src="{% static 'images/icons/baseline_assignment_white_18dp.png' %}"> Statistics</span>
                    </div>
                      <div class="card-body" style="background-color: #1a2035; color: white;">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                </div>
              </div>