body {
	background: rgba(23, 28, 47, 0.98) !important;
	
}

label {
	position: relative;
}

a {
	color: white;
}

a:hover {
	color: #ff7474 !important;
	text-decoration: none !important;
}

.search label:before {
	content: "";
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
		center / contain no-repeat;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

tr:not(:first-child):hover {
background-color: #ff7474;
color: white;
}

tr:not(:first-child):hover .icons {
	color: white !important;
}
	
td, tr,th{
border-bottom: 1px solid rgba(255, 255, 255, 0.28);
text-align: center;
padding: 8px;
color:#fff;
}

th {
padding-top: 7%;
}

h3{
	color: #fff;
	text-align: center;
}
h5{
	color: rgb(204, 204, 204);
	text-align: center;
}
h6{
	color: #fff;
margin-left: 22px;

}

.header {
	text-align: center;
	margin-top: -10px;
	height: 60px;
	width: 100%;
	position: relative;
}

.icons {
	color: #ff7474;
}

.navbar-default[role="navigation"] {
	margin: 0 auto;
	width: 100%;
	background: #171c2f;
	color: white;
}
.navitem[role="navigation"] {
	margin-right: 15px;

}
.navbar[role="navigation"] li a {
	color: white;
	font-weight: bold;
}

.navbar-default[role="inpage"] {
	margin-left: 50px;
	margin-bottom: 0px;
}
.navitem[role="inpage"] {
	background: rgba(10, 49, 76, 0.8);
}
.navbar[role="inpage"] {
	margin-bottom: 0px;
}
.navbar[role="inpage"] li a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: white;
}

.navbar[role="inpage"] li a:hover {
	color: #3585c1;
}

.right-search {
	position: relative;
float: right;
}

.right-search input {
	width: 100%;
}

#active {
	color: white;
	background: rgba(10, 49, 76, 0.8);
}

.container{
	width: 100%;
	height: 100%;
	margin:0;
}
.sidebar{
width: 18%;
float: left;
height: 600px;
background-color: #171c2f;
}
.content{
	width:82%;
	float:left;
	height:768px;
	z-index: 2;
	overflow-y: scroll;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}
.profile-pic{
height: 150px;
display: block;
margin: auto;
border-radius: 50%;
border: 2px solid #fff;
z-index: 9;
max-width: 100%;
width: auto;
}

.sidebar p {
	color: #fff;
	text-align: center;
}
.sidebar ul{
	margin-top: 10px;
	text-align: center;
	display:table;
}
.sidebar ul li {
	color: #171c2f;
	margin-bottom: 10px;

}
.sidebar ul li a {
	color: #fff;
}
.card-content{
	background-color:#171c2f;
		z-index: 9;
		margin: 30px;
		height:500px;
		border-radius: 10px;
		overflow-y: scroll;
}
.avatar{
	height: 50px;
	width: 50px;
	margin-left: 50px;
	margin-top:5px;
	margin-right: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index: 9;
	max-width: 100%;
	float: left;
}

.avatar-setting {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.line{
	width:100%;
	height: 2px;
	background-color: #ff7474;
}

.element{
padding-top: 25px;
}

.element b{
margin-top: 10px;
}
.menu-item {
	font-size: 15px;
	font-family: Roboto;
	font-weight: bold;
	margin-bottom: 10%;
	color: white;
}


.sidebar-dash {
	float: left;
	height: 768px;
	background-color: #171c2f;
	font-family: 'Ubuntu', sans-serif;
	box-shadow: 0px 4px 5px #111111;


}

.sidebar-dash p {
	color: #fff;
	text-align: center;
}
.sidebar-dash ul{
	margin-top: 10px;
	display:table;
}
.sidebar-dash ul li {
	list-style-type: none;
	color: #171c2f;
	margin-bottom: 10px;

}

#logo-dash {
	margin-top: 30%;
	margin-bottom: 30%;
}

#line-dash {
	margin-top: 30%;
	margin-bottom: 20%; 
	border: 1px solid rgba(255, 255, 255, 0.28);
}

.navbar[role="dashboard"]  {
	background-color: #171c2f;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
	font-family: 'Ubuntu', sans-serif;
	
}

.navbar[role="dashboard"]  ul li a:hover{
	text-decoration: none;
	color: #ff7474;
}
#notification_li{position: absolute;}
        #notificationContainer {
        background-color:#292e41;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        margin-top: 10px;
        width: 400px;
        z-index: 99;
		display: none;
		top: 30px;
		right: 1vw;
        }
        #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent white;
        margin-top: -20px;
        }
        #notificationTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
        background-color: #292e41;
        width: 384px;
        border-bottom: 1px solid #ff7474;
        }
        #notificationsBody {
        padding: 5px 5px 5px 5px !important;
		min-height:300px;
		max-height: 300px;
		}
		.avatar-notif{
			height: 35px;
			width: 35px;			
			border-radius: 50%;
			border: 2px solid #fff;
			z-index: 9;
			max-width: 100%;
			float: left;

		}
		.element-notif {
			margin-bottom: 5px;
			padding:5px 0px 0px 0px;
		}

        #notificationFooter {
        background-color: #292e41;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        font-size: 12px;
        border-top: 1px solid #ff7474;
        }
		#notification_count 
		{
		padding: 3px 7px 3px 7px;
		background: #cc0000;
		color: #ffffff;
		font-weight: bold;
		border-radius: 9px;
		-moz-border-radius: 9px; 
		-webkit-border-radius: 9px;
		position: absolute;
		margin-top: -11px;
		font-size: 11px;
		}
.box{
	width: 400px;
	height: 100px;
	background: rgba(255, 116, 116, 0.7);
	margin: -50px auto;
	position: relative;
	text-align: center !important;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 15px;
	border-radius: 17px;
	text-decoration-color: #fff;
	opacity: 1;
	box-shadow: 0px 4px 5px #111111;
}

.box p {
			color: white;
			font-size: 20px;
			font-weight: bold;
			text-align: center !important;
}

.table-caption {
		margin-top: 10%;
		color: white;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
}

.tab{
	padding: 30px;
	background: #171c2f;
	border-radius: 10px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	box-shadow: 0px 4px 5px #111111;
	height: 100%;

}

.admin-notif-spn {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.col-center {
	margin: 0 auto;
}

.admin-notif , .admin-usr-notif {
	width: 100%;
	height: 52px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	background: #171C2F;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 4px 5px #111111;
}


#members, #total-topics, #online {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: 29px;
	width: 183px;
	height: 79px;
	background: #171C2F;
	border-radius: 10px;
	box-shadow: 0px 4px 5px #111111;
	font-family: Iceberg;
}

#members {
	float: left;
	margin-left: 15%;
}

#online {
	float: left;
	margin-left: 15%;
}

#total-topics {
	float:left;
	margin-left: 15%;
}

.text-dash {
	text-align: center;
	margin-top: 5%;
	margin-right: 10%;
	font-size: 40px;
}

.btn-new {
	background: rgba(255, 116, 116, 0.7);
	border-style: none;
	width: 120px;
	height: 34px;
	font-weight: bold;
	border-radius: 17px;
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 10px;
}

.usr-tab {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.usr-pic {
	position: relative;
	height: 150px;
	width: 150px;
	opacity: 1;
	padding-top: 20px;
	margin: -50px auto;
	text-align: center;
	border-radius: 50%;
}

.usr-pic img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.footer {
  position: absolute;
	bottom: 0;
	color: white;
	left: 3%;
	font-weight: bold;
  height: 2.5rem;            /* Footer height */
}

.field {
	--uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
	background-color: transparent;
	border-radius: 0;
	border: none;
	color: white;
	-webkit-appearance: none;
	-moz-appearance: none;

	font-family: inherit;
	font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
	color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
	color: var(--uiFieldPlaceholderColor);
	opacity: 1;
}

/*
  =====
  LEVEL 2. CORE STYLES
  =====
  */

.a-field {
	display: inline-block;
}

.a-field__input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.a-field__input:focus {
	outline: none;
}

/*
  =====
  LEVEL 3. PRESENTATION STYLES
  =====
  */

/* a-field */

.a-field {
	--uiFieldHeight: var(--fieldHeight, 40px);
	--uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
	--uiFieldBorderColor: var(--fieldBorderColor);

	--uiFieldFontSize: var(--fieldFontSize, 1em);
	--uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

	--uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
	--uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
	--uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

	position: relative;
	box-sizing: border-box;
	font-size: var(--uiFieldFontSize);
	padding-top: 1em;
}

.a-field .a-field__input {
	height: var(--uiFieldHeight);
	padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
	border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .a-field__input::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder {
	opacity: 0;
	transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
	opacity: 0;
	bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder {
	opacity: 1;
	transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder {
	opacity: 1;
	transition-delay: .2s;
}

.a-field .a-field__label-wrap {
	box-sizing: border-box;
	width: 100%;
	height: var(--uiFieldHeight);
	color: white;
	pointer-events: none;
	cursor: text;

	position: absolute;
	bottom: 0;
	left: 0;
}

.a-field .a-field__label {
	position: absolute;
	left: var(--uiFieldPaddingLeft);
	bottom: calc(50% - .5em);

	line-height: 1;
	font-size: var(--uiFieldHintFontSize);

	pointer-events: none;
	transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
	will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
	opacity: 1;
	bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input {
	transition: border-color .2s ease-out;
	will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
	border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap:after {
	content: "";
	box-sizing: border-box;
	width: 0;
	height: var(--uiFieldBorderWidth);
	background-color: var(--fieldBorderColorActive);

	position: absolute;
	bottom: 0;
	left: 0;

	will-change: width;
	transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after {
	width: 100%;
}

/* a-field_a3 */

.a-field_a3 {
	padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after {
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 0;

	opacity: 0;
	border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

	position: absolute;
	bottom: 0;
	left: 0;

	will-change: opacity, height;
	transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after {
	height: 100%;
	opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
	bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
  =====
  LEVEL 4. SETTINGS
  =====
  */

.field {
	--fieldBorderColor: #d1c4e9;
	--fieldBorderColorActive: #ff7474;
}
.all ul li {
  justify-content: center;
  display: flex;
}
@media (max-width: 600px) {
  
.card-content{
margin: auto;	
}
#notificationContainer{
	left: 0.5vw;
	width: 250px;
	top: 41vw;
}
#notificationTitle{
	width: 250px;
}
#notification_count{
}
.navbar-default[role="navigation"] {
	margin: 0 !important;
	margin-bottom: 10% !important;
	z-index: 999;
	width: 100% !important;
	background: #171c2f;
	border-radius: 0px !important;
	color: white;
	
}

.navbar-default[role="inpage"] {
	
	margin-left:-12% !important;
}
.navbar-default[role="inpage"] li {
	display: block !important;
	
}

.navbar[role="inpage"] li a {
	font-size: 14px !important;
}

.navbar[role="inpage"] li button {
	padding:4px 8px;
	font-size:80%;
	line-height: 1;
}

.navbar[role="inpage"] li a:hover {
	color: #3585c1;
}
.right-search{
	justify-content: center;
}

  }
  .bookmarks{
	  display: none;
	  background-color:#171c2f;
	  z-index: 9;
	  margin: 30px;
	  height:500px;
	  border-radius: 10px;
	  overflow-y: scroll;
color: #ff7474;
justify-items: center;
  }
  .bookmarks h3:hover{
	  color: #ff7474;
  }
